body {
  display: flex;
  background-color:#c3d9e8;
  margin: 0; 
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fc-day-today {
  background-color: transparent !important;
}

#root {
  flex: 1;
  --fc-bg-event-opacity: 1;
}

.app-container {
  display: flex;
  height: 100vh; 
  flex: 1;
  justify-content: center; 
}

.sidebar {
  width: 4em;
  background-color: #2596be; /* Your sidebar background color */
  color: #fff;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  padding: 1em; 
  overflow-y: auto; /* Allow the main content to scroll */
}

.mood-buttons {
  display: flex;
  justify-content: center;
  justify-content:space-around;
}

.mood-button {
  scale: 150%;
}

.journal-text-field {
  width: 85%;
  height: 18vh
}

.journal-text-field::placeholder {
  font-size: 1.5em;
}

.diary-content {
  border: 2px, solid, black;
  border-radius: 5%;
  margin-bottom: 1em;
  padding: 0.5em;
  position: relative;
  background-color: white;
}

.key-container {
  display: flex;
  justify-content: space-evenly;
}

#full-key {
  border: solid, 2px, black;
  border-radius: 5%;
  padding: 0.25em;
  padding-top: 1em;
  background-color: white;
}

#key1 {
  background-color: #e35337;
  border: solid;
  height: 1em;
  width: 1em;
  margin-top: 0.15em;
}
#key2 {
  background-color: #ef9c0e;
  border: solid;
  height: 1em;
  width: 1em;
  margin-top: 0.15em;
}
#key3 {
  background-color: #ece13b;
  border: solid;
  height: 1em;
  width: 1em;
  margin-top: 0.15em;
}
#key4 {
  background-color: #afe48e;
  border: solid;
  height: 1em;
  width: 1em;
  margin-top: 0.15em;
}
#key5 {
  background-color: #26e616;
  border: solid;
  height: 1em;
  width: 1em;
  margin-top: 0.15em;
}

.fc-event .fa-pencil {
  position: absolute;
  bottom: 0.25em;
  right: 0.15em;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-color: black;
    background-color: #c3d9e8;
}

.fc .fc-scrollgrid {
  border: 1px solid black; 
}

.fc-multiMonth-view {
  background-color: #c3d9e8;
}

.fc .fc-multimonth {
  border: 1px, solid,black;
}

.fc-multimonth-title {
  background-color: #c3d9e8;
}

.fc-multimonth-header-table {
  background-color: #c3d9e8;
}

.fc-daygrid-day {
  background-color: #c3d9e8;
  height: 3em;
}

.fc-daygrid-day-frame {
  background-color: inherit;
}

.fc-event .fa-prescription-bottle {
  position: absolute;
  bottom: 0.25em;
  left: 0.15em;
}

.diary-button-div {
  display: flex;
  justify-content: center; 
  margin-left: 0.5em;
}

.diary-buttons {
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.diary-buttons:first-child {
  margin-left: 0; 
}

.diary-mood {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  border: 2px solid black;
  width: 1.2em;
  height: 1.2em; 
  border-radius: 50%; 
}

.my-medications {
  margin-left: 1em;
  margin-bottom: 1em;
  border: 2px, solid, black;
  background-color: white;
  border-radius: 5%;
  padding: 0.5em;
}

.day-journal-container {
  height: calc(100vh - 13em);
  overflow-y: auto;
}

.large-placeholder::placeholder {
  font-size: 1.5em;
}

.day-content {
  border: 2px, solid, black;
  border-radius: 5%;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: white;
  position: relative;
}

.todo-buttons {
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.todo-buttons:first-child {
  margin-left: 0; 
}

#todobutt {
  display: flex;
  justify-content: center; 
  margin-left:0.5em;
  margin-bottom:0.25em;
}

.task-input {
  margin-left: 2.5em;
  margin-top: 1em;
}

.task-container {
  border: 2px, solid, black;
  margin-top: 1em;
  border-radius: 5%;
  background-color: white;
}