body {
  display: flex;
  margin: 0; 
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fc-day-today {
  background-color: transparent !important;
}

#root {
  flex: 1;
  --fc-bg-event-opacity: 1;
}

.app-container {
  display: flex;
  height: 100vh; 
  justify-content: center; 
}

.sidebar {
  flex: 0 0 4em; 
  background-color: #f0f0f0; 
}

.main-content {
  flex: 1; 
  padding: 1em; 
  justify-content: center;
}

.mood-buttons {
  display: flex;
  justify-content: center;
  justify-content:space-around;
}

.mood-button {
  scale: 150%;
}

.journal-text-field {
  width: 85%;
  height: 18vh
}

.diary-container {
  height: calc(100vh - 13em);
  overflow-y: auto;
}

.diary-content {
  border: 2px, solid, black;
  margin-bottom: 1em;
  padding: 0.5em;
  position: relative;
}

.key-container {
  display: flex;
  justify-content: space-evenly;
}

#key1 {
  background-color: #e22a03;
  border: solid;
  height: 1em;
  width: 1em;
}
#key2 {
  background-color: #ef9c0e;
  border: solid;
  height: 1em;
  width: 1em;
}
#key3 {
  background-color: #ece13b;
  border: solid;
  height: 1em;
  width: 1em;
}
#key4 {
  background-color: #afe48e;
  border: solid;
  height: 1em;
  width: 1em;
}
#key5 {
  background-color: #26e616;
  border: solid;
  height: 1em;
  width: 1em;
}

.fc-event .fa-pencil {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
}

.diary-button-div {
  margin-left: 0.5em;
}

.diary-buttons {
  justify-content: space-evenly;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.diary-mood {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  border: 2px solid black;
  width: 1.2em;
  height: 1.2em; 
  border-radius: 50%; 
}
